* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.slider {
  position: relative;
  width: 100%;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 90px;
  padding-right: 17px;
}

.background {
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 800% 800%;
  animation: gradientShift 15s ease infinite;
}

.slides {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.slide-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container:hover .title-container,
.slide-container:hover .description-container {
  transform: translateZ(0px);
}

.title-container {
  position: absolute;
  margin-right: 650px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

h1 {
  font-family: "Poppins", Medium;
  height: 300px;
  font-size: 251px;
  color: #cfd8cc;
}

.h2title {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  font-size: 16px;
  margin-top: 180px;
  font-weight: normal;
  letter-spacing: 11px;
  color: #2d2a2a;
  opacity: 1;
}

.green-text {
  font-weight: bold;
  color: #01943c;
}

.black-text {
  color: #2d2a2a;
  font-weight: 100;
}

.description {
  font-size: 12px;
  color: #2D2A2A;
  font-weight: normal;
  opacity: 1;
}

.description-container {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 33px;
  /* max-width: 468px; */
  width: 468px;
  letter-spacing: 0px;
  margin-top: 320px;
  margin-right: 50px;

  span {
    margin-left: 10px;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
  color: #01943c;
  background-color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  position: absolute;
  left: 0;
  margin-left: 18%;
  margin-top: 10%;
  background-color: transparent;
}

.next {
  right: 0;
  margin-right: 14%;
  margin-top: 10%;
  background-color: transparent;
}

.timeline {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.timeline-container {
  margin-top: 64px;
  margin-right: 60px;
}

.year {
  margin: 0 1px;
}

.separator {
  border: none;
  border-top: 4px solid;
  border-radius: 5px;
  width: 50px;
  margin: 0 21px;
}

.green-text {
  color: #01943c;
}

.gray-text {
  color: #c9c1c1;
}

@media (max-width: 1700px) {
  .slide-container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #01943c;
    background-color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    left: 0;
    margin-left: 5%;
    margin-top: 7%;
    background-color: transparent;
  }

  .next {
    right: 0;
    margin-right: 4%;
    margin-top: 7%;
    background-color: transparent;
  }
}

@media (max-width: 1400px) {

  .prev {
    order: 1;
    margin: 2%;
  }

  .next {
    order: 2;
    margin: 2%;
  }
}

.timeline {
  margin-top: 20px;
  font-size: 24px;
}

.timeline-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

@media (max-width: 1110px) {
  .slide-container {
    transform: scale(0.8);
    justify-content: center;
    align-items: center;
  }

  .slide img {
    width: 400px;
    height: auto;
    margin-right: 100px;
  }

  .title-container h1 {
    font-size: 200px;
    margin-right: 400px;
  }

  .title-container h2 {
    font-size: 14px;
    margin-top: 150px;
  }

  .description-container {
    font-size: 28px;
    margin-top: 300px;
    margin-right: 40px;
  }

  .timeline-container {
    margin-left: 40px;
    transform: scale(0.8);
  }
}

@media (max-width: 900px) {
  .slide-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider {
    position: relative;
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .prev,
  .next {
    top: 80%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #01943c;
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    left: 0;
    margin-left: 0;
    margin-top: 0;
    background-color: transparent;
  }

  .next {
    right: 0;
    margin-left: 0;
    /* margin-right: 18%; */
    margin-top: 0;
  }

  .timeline {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
    width: 100%;
  }

  .timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .year {
    margin: 0;
  }

  .separator {
    border: none;
    border-top: 4px solid;
    border-radius: 5px;
    width: 50px;
    margin: 0 20px;
  }
}

@media (max-width: 800px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 0;
    display: flex;
    margin: 0;
    flex-direction: column;
  }

  .slide-container {
    display: flex;
    min-width: 100%;
    flex-direction: column;
  }
  
  .title-container {
    display: flex;
    width: 100vw;
    text-align: center;
    margin-left: 50px;
    flex-direction: column;
  }
  .text-container {
    padding: 10px;
    margin: 40px;
    width: 100vw;
    display: flex;
    justify-content: bottom;
    align-items: bottom;
    text-align: center;
  }

  .title-container.h1 {
    font-size: 20px;
  }
  
  .title-container h1 {
    font-size: 180px;
    margin-left: 30px;
    margin-top: 0;
    padding-top: 0;
  }

  .title-container h2 {
    font-size: 15px;
    margin-left: 25px;
  }

  h3 {
    width: 100vw;
  }


  img {
    width: 100vw;
  }

  .description {
    font-size: 14px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .prev,
  .next {
    position: absolute;
    top: 85%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #01943c;
    background-color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    position: absolute;
    left: 0;
    margin-right: 0;
    padding: 0;
    margin-left: 18%;
    background-color: transparent;
  }

  .next {
    position: absolute;
    background-color: transparent;
    right: 0;
    margin-right: 16%;
    margin-left: 0;
  }

  /* .timeline {
   margin-left: 50px;
  }

  .timeline-container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }

  .separator {
    margin: 0 15;
    width: 50px;
  }

  .year {
    font-size: 15px;
  } */

  .timeline {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    /* font-size: 15px; */
    font-size: 1.4rem;
  }
  
  .timeline-container {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 100px;
  }
  
  .year {
    margin: 0 1px;
  }
  
  .separator {
    border: none;
    border-top: 4px solid;
    border-radius: 5px;
    width: 50px;
    margin: 0 2%;
  }
}

@media(max-width: 700px ) {
  .separator {
    margin: 2%;
  }

  .timeline {
    font-size: 1.4rem;
  }
}

@media(max-width: 600px) {

  .title-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    margin: 0;
  }
  
  h1 {
    font-family: "Poppins", Medium;
    text-align: center;
    height: 300px;
    font-size: 251px;
    color: #cfd8cc;
  }

  .text-container {
    padding: 0;
    margin: 0;
  }

  .separator {
    margin: 0 0.8%;
  }

  .timeline {
    font-size: 1.3rem;
  }
}
