* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.slider {
    position: relative;
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide-container {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}


.slide img {
    width: 508px;
    height: 630px;
    margin-right: 190px;
}

.title-container {
    position: absolute;
    margin-right: 650px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Poppins", Medium;
    /* margin-right: 637px; */
    height: 300px;
    font-size: 251px;
    color: #CFD8CC;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    /* width: 100%; */
    /* padding-left: 30%; */
    font-size: 16px;
    margin-top: 170px;
    font-weight: normal;
    letter-spacing: 11px;
    color: #2D2A2A;
    opacity: 1;
}

.green-text {
    font-weight: bold;
    color: #01943C; /* Verde */
}

.black-text {
    color: #2D2A2A; /* Preto */
    font-weight: 100;
}

.description-container {
    font-family: "Poppins";
    font-weight: 100;
    font-size: 33px;
    margin-top: 400px;
    margin-right: 80px;

    span {
        margin-left: 10px;
    }
}


.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #01943C;
    background-color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 0;
    margin-left: 75px;
}

.next {
    right: 0;
    margin-right: 75px;
}

/* .prev:hover, .next:hover {
} */

