* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 90px;
  padding-right: 17px;
}

.background {
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 800% 800%;
  animation: gradientShift 15s ease infinite;
}

.slides {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.slide-container {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container:hover .title-container,
.slide-container:hover .description-container {
  transform: translateZ(0px);
}

/* .slide img {
  width: 508px;
  height: 630px;
  margin-right: 190px;
} */

.title-container {
  position: absolute;
  margin-right: 650px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

h1 {
  font-family: "Poppins", Medium;
  /* margin-right: 637px; */
  height: 300px;
  font-size: 251px;
  color: #cfd8cc;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  /* width: 100%; */
  /* padding-left: 30%; */
  font-size: 16px;
  margin-top: 170px;
  font-weight: normal;
  letter-spacing: 11px;
  color: #2d2a2a;
  opacity: 1;
}

.green-text {
  font-weight: bold;
  color: #01943c;
}

.black-text {
  color: #2d2a2a;
  font-weight: 100;
}

.description {
  font-size: 12px;
  color: #423d3dd0;
  opacity: 10;
}

.description-container {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 33px;
  max-width: 468px;
  letter-spacing: 0px;
  margin-top: 400px;
  margin-right: 50px;

  span {
    margin-left: 10px;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
  color: #01943c;
  background-color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  position: absolute;
  left: 0;
  /* margin-left: 275px;
      margin-top: 170px; */
  margin-left: 18%;
  margin-top: 10%;
  background-color: transparent;
}

.next {
  right: 0;
  /* margin-right: 380px;
      margin-top: 170px; */
  margin-right: 14%;
  margin-top: 10%;
  background-color: transparent;
}

.timeline {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px;
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.year {
  margin: 0 5px;
}

.separator {
  border: none;
  border-top: 4px solid;
  border-radius: 5px;
  width: 50px;
  margin: 0 24px;
}

.green-text {
  color: #01943c;
}

.gray-text {
  color: #c9c1c1;
}

/* .prev:hover, .next:hover {
  } */

@media (max-width: 1700px) {
  .slide-container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #01943c;
    background-color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    left: 0;
    /* margin-left: 275px;
      margin-top: 170px; */
    margin-left: 5%;
    margin-top: 7%;
    background-color: transparent;
  }

  .next {
    right: 0;
    /* margin-right: 380px;
      margin-top: 170px; */
    margin-right: 4%;
    margin-top: 7%;
    background-color: transparent;
  }
}

@media (max-width: 1400px) {
  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .prev,
  .next {
    position: relative;
    display: inline-block;
    margin: 0 400px;
    font-size: 20px;
    margin-top: 30px;
    padding: 0;
    color: #01943c;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    order: 1;
  }

  .next {
    order: 2;
  }
}

.timeline {
  margin-top: 20px;
  font-size: 24px;
}

.timeline-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

@media (max-width: 1110px) {
  .slide-container {
    transform: scale(0.8);
    justify-content: center;
    align-items: center;
  }

  .slide img {
    width: 400px;
    height: auto;
    margin-right: 100px;
  }

  .title-container h1 {
    font-size: 200px;
    margin-right: 400px;
  }

  .title-container h2 {
    font-size: 14px;
    margin-top: 150px;
  }

  .description-container {
    font-size: 28px;
    margin-top: 300px;
    margin-right: 40px;
  }

  .timeline-container {
    margin-left: 40px;
    transform: scale(0.8);
  }
}

@media (max-width: 900px) {
  .slide-container {
    position: relative;
    overflow: hidden;
    /* min-width: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider {
    position: relative;
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  /* .prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
  color: #01943c;
  background-color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 1;
}*/

  .prev,
  .next {
    /* position: absolute; */
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #01943c;
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  /*
.prev {
  position: absolute;
  left: 0;
  margin-left: 275px;
      margin-top: 170px;
  margin-left: 18%;
  margin-top: 10%;
  background-color: transparent;
}

.next {
  right: 0;
  margin-right: 380px;
      margin-top: 170px;
  margin-right: 14%;
  margin-top: 10%;
  background-color: transparent;
} */

  .prev {
    /* position: absolute; */
    left: 0;
    /* margin-left: 275px;
      margin-top: 170px; */
    margin-left: 0;
    margin-top: 0;
    background-color: transparent;
  }

  .next {
    right: 0;
    margin-left: 0;
    margin-right: 18%;
    margin-top: 0;
    /* background-color: transparent; */
  }

  .timeline {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
    width: 80%;
  }

  .timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-left: 60px; */
    margin-left: 0;
  }

  .year {
    margin: 0;
  }

  .separator {
    border: none;
    border-top: 4px solid;
    border-radius: 5px;
    width: 50px;
    margin: 0 24px;
  }
}

@media (max-width: 800px) {
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slide-container {
    display: flex;
    min-width: 100%;
    flex-direction: column;
  }

  .text-container {
    padding: 10px;
    margin: 40px;
    text-align: center;
    padding-left: 40px;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  img {
    width: 100vw;
  }

  .description {
    font-size: 14px;
  }

  .title-container h1 {
    font-size: 180px;
    margin-left: 30px;
    margin-top: 0;
    padding-top: 0;
  }

  .title-container h2 {
    font-size: 15px;
    margin-left: 25px;
  }

  .prev,
  .next {
    position: absolute;
    top: 95%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #01943c;
    background-color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    position: absolute;
    left: 0;
    margin-right: 0;
    padding: 0;
    margin-left: 18%;
    background-color: transparent;
  }

  .next {
    position: absolute;
    right: 0;
    margin-right: 16%;
    margin-left: 0;
    /* margin-right: 380px;
      margin-top: 170px; */
  }

  .timeline-container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }

  .separator {
    margin: 10px 0;
  }

  .year {
    font-size: 18px;
  }
}
